<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Charing</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><i class="code icon"></i>Charing</div>
            <a href="/" class="item">Home</a>
            <a href="/organizations" class="item">Organizations</a>
            <a href="/organizations/new" class="item">New Organizations</a>
        </div>
        <div class="ui right aligned category search item">
            <a href="/login" class="item">Login</a>
            <div class="ui transparent icon input">
            <input class="prompt" type="text" placeholder="Search...">
            <i class="search link icon"></i>
            </div>
            <div class="results"></div>
        </div>
    </div>
        
